In [1]:
import pandas as pd

data = pd.read_csv("Data.csv", sep=";")

In [5]:
result = data[["Date","Open","Close","Symbole"]]

In [6]:
result

              Date       Open      Close Symbole
0       2000-01-03  15.961748  16.056759   AI.PA
1       2000-01-04  16.056758  15.344180   AI.PA
2       2000-01-05  15.011645  15.201665   AI.PA
3       2000-01-06  15.002145  16.294287   AI.PA
4       2000-01-07  16.294285  16.094763   AI.PA
...            ...        ...        ...     ...
114274  2024-03-04  59.490002  59.389999  TTE.PA
114275  2024-03-05  59.049999  59.160000  TTE.PA
114276  2024-03-06  59.259998  59.980000  TTE.PA
114277  2024-03-07  59.680000  59.919998  TTE.PA
114278  2024-03-07  59.680000  59.990002  TTE.PA

[114279 rows x 4 columns]

In [7]:
result.to_csv("Data_reduce.csv",index=False, sep=";")